@import '../../../index.scss';

.home-grid-row {
    padding:0;
    margin-top: 1.5em;
    height: auto;
}

.grid-title {
    font-family: $primary-font;
    color: white;
    font-size: 4em;
    text-align: center;
    align-items: center;
    background-color: yellow; 
    padding: 0;
    height: 100%;
}


@media only screen and (max-width: 1500px) { /**This is lg*/

    .grid-title {
        font-size: 3em;
    }

}

@media only screen and (max-width: 992px) { /**This is lg*/

    .grid-title {
        font-size: 2em;
    }

}


@media only screen and (max-width: 767px) { 
    .home-grid-row {
        margin-top: 1em;
    }

    .image-col {
        margin-top: 1em;
    }

    .image {
        width: 25em;
    }

}
@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 400px) {

}