@import '../../../index.scss';

.principal-navbar {
    background: $primary-color;
    padding: 0 !important;
}
.nav-mx {
    width: 100%;
}

.active {
    background-color: $secondary-color;
}

.navbar-link {
    color:#FFFFFF !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1rem;    
}


.navbar-item:hover,  .navbar-link:hover{
    background-color: darkslateblue;
    text-decoration: none;
    cursor: pointer;
}

.navbar-toggle {
    color:#FFFFFF !important;
}

@media only screen and (max-width: 767px) {
    .toggle-button {
        color: white !important;
        height: 2em;
    }

    .principal-navbar  {
       // background-color: rgba(249, 173, 59, 1) !important;
        padding: 0.5em;

    }

    .navbar-link {
        color:#FFFFFF !important;
    //    background-color: rgba(249, 173, 59, 1) !important;
        text-transform: uppercase;
        
    }

    .navbar-item {
        border-top: solid;
        border-top-color: #FFFFFF;
        border-top-width: thin;

    }

    .active {
        background-color: $secondary-color !important;
    }
}