@import '../../index.scss';

.footer-container {
    background-color: $secondary-color;
    margin-top: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer-center {
    color: white;
    justify-content: center;
    font-family: $secondary-font;
    font-size: 0.8em;
    font-weight: 100;
}

.footer-navbar {
    justify-content: center;
    font-family: $secondary-font;
    padding: 0;
    color: white !important;
}

.footer-navbar-link {
    color:white;
    font-family: $secondary-font;
    font-weight: 100;
}