@import '../../index.scss';

.col-title {
    padding: 0 !important;
}

.main-title {
    font-size: 5em !important;    
    margin: 0;
    color: $primary-color;
    font-family: AmaticSC;
    text-align: right;
    padding: 0 !important;
}

.social {
    text-align: start !important;
}


.social-icon {
    height: 1.4em !important;    
}

.btn-social {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
}

.btn-social:hover {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}


.second-title {
    color: $secondary-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;

}

.top-header-row {
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.social {
    text-align: end;
}


@media only screen and (max-width: 1400px) { /**This is xl*/
    .second-title  {
        font-size: 1.4em !important;
    }
}

@media only screen and (max-width: 1200px) { /**This is lg*/
    .second-title  {
        font-size: 1em !important;
    }
    .social-icon {
        height: 1.3em !important;
    }
}

@media only screen and (max-width: 992px) { /**This is md*/
    .second-title  {
        font-size: 1em;
    }
    .top-header-row {
        padding-bottom: 0 !important;
    }
    .social-icon {
        height: 0em !important;
    }

    .btn-warning {
        height: 0em !important;
    }
    .social {
        padding-bottom: 0em !important;
        visibility: hidden;
    }

}

@media only screen and (max-width: 767px) { /**This is sm*/
    .second-title  {
        font-size: 1em !important;
    }
    
    .top-header-row {
        padding-bottom: 0 !important;
    }
}


@media only screen and (max-width: 576px) { /**This is xs*/
    .second-title  {
        font-size: 1em !important;
    }

}

