@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints'; 


$theme-colors: (
  "primary": #F26524,
  "danger": #ff4136,
  "secondary":#37BDBF
);

$primary-color: #F26524;
$secondary-color:darkslateblue;


$primary-font: AmaticSC;
$secondary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@font-face {
  font-family: 'AmaticSC';
  src: local('AmaticSC'), url(./assets/fonts/AmaticSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'AmaticSC';
  src: local('AmaticSC'), url(./assets/fonts/AmaticSC-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  //background-color: darkorchid;
}

.content-body {
  padding-left: 8em;
  padding-right: 8em;
  //background-color: darkslateblue;
}

.no-padding {
  padding: 0;
}

@media only screen and (min-width: 1500px) { 
  .content-body {
    padding-left: 10em;
    padding-right: 10em;
  }

}

@media only screen and (max-width: 992px) { 
  .content-body {
    padding-left: 6em;
    padding-right: 6em;
  }
}


@media only screen and (max-width: 767px) { 
  .content-body {
    padding-left: 1em;
    padding-right: 1em;
  }
}
